@using PersonalWebsite.Models;
@{ 
    var experiences = new List<ExperienceModel>
    {
        new ExperienceModel
        {
            CompanyName = "Seavus",
            Logo = "seavus.jpg",
            Position = "Senior Software Developer",
            From = new DateTime(2022, 10, 1),
            Responsibilities = new List<string>
            {
                "Participation with sprint planning",
                "Microservice architecture",
                "Azure ServiceBus",
                "Azure Event Hub",
                "Azure Functions",
            }
        },
        new ExperienceModel
        {
            CompanyName = "Endava",
            Logo = "endava.jpg",
            Position = "Senior Engineer - Senior Developer",
            From = new DateTime(2021, 1, 1),
            To = new DateTime(2022, 4, 30),
            Responsibilities = new List<string>
            {
                "Participation with sprint planning",
                "Task estimation",
                "Azure ServiceBus",
                "Azure Functions",
                "Azure CosmosDb",
                "Azure Event Hub",
                "Azure SignalR"
            }
        },
        new ExperienceModel
        {
            CompanyName = "Allocate Software",
            Logo = "allocate-software.jpg",
            Position = "Senior Software Engineer",
            From = new DateTime(2016, 3, 15),
            To =  new DateTime(2020, 12, 31),
            Responsibilities = new List<string>
            {
                "Participation with sprint planning",
                "Research of new technologies and their implementation within the existing codebase",
                "Task estimation",
                "Full stack development",
                "Chapter lead",
                "Front-end architecture implementation"
            }
        },
        new ExperienceModel
        {
            CompanyName = "InScale",
            Logo = "inScale.jpg",
            Position = "Senior .NET developer",
            From = new DateTime(2015, 4, 1),
            To = new DateTime(2016, 3, 15),
            Responsibilities = new List<string>
            {
                "Participation in sprint planning",
                "Implementation of new features in the software",
                "Improvement of existing functionalities",
                "Full stack development"
            }
        },
        new ExperienceModel
        {
            CompanyName = "Matrix Global",
            Logo = "matrix-global.jpg",
            Position = "Web Developer",
            From = new DateTime(2014, 5, 1),
            To = new DateTime(2015, 4, 1),
            Responsibilities = new List<string>
            {
                "Front-end development",
                "Integration testing with Selenium",
                "Planning, implementing and testing requested features",
                "Agile / Scrum work methodologies"
            }
        },
        new ExperienceModel
        {
            CompanyName = "Artistika Dizajn",
            Logo = "artistika.jpg",
            Position = "Web Developer / Lead Developer",
            From = new DateTime(2011, 10, 24),
            To = new DateTime(2014, 5, 1),
            Responsibilities = new List<string>
            {
                "Planning, estimation and development of features in software solutions",
                "Planning and development of new software solutions",
                "Active maintenance of ongoing projects",
                "Deployment of web projects to several hosting environments"
            }
        }
    };
    for(var i = 0; i < experiences.Count; i++)
    {
        experiences[i].Direction = i % 2 == 0 ? Direction.Left : Direction.Right;
    }
}

<h2 class="experience">
    <span class="icon-experience"></span>
    Experience
</h2>
<div class="clearfix"></div>
<h4>Work experience</h4>
<div class="timeline">
<div class="timeline-line"></div>
    @foreach(var experience in experiences)
    {
        @Html.Partial("Partials/_SingleExperience", experience)
    }
</div>
<a class="btn cv-download-button float-right" href="~/files/CV-Europass-Latest-Trajkov-EN.pdf" target="_blank">Download CV</a>