<div class="notification-well"></div>
<div class="d-none notification-template">
    <div data-key="%key%" class="notification notification-%type%">
        <div class="notification-message">%message%</div>
    </div>
</div>