<h2 class="profile">
    <span class="icon-profile"></span>
    Profile
</h2>
<div class="clearfix"></div>
<div class="personal-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <div class="photo-frame mr-3">
                    <img src="~/images/portrait.jpg" alt="Image of Aleksandar Trajkov">
                </div>
                <div>
                    <h1>Aleksandar Trajkov</h1>
                    <h4>Senior Full-Stack Developer</h4>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-3 personal-details">
                <div>
                    <span class="personal-details-section">Name:</span><span class="td">Aleksandar Trajkov</span>
                </div>
                <div>
                    <span class="personal-details-section">Date of birth:</span><span class="td">August 11, 1987</span>
                </div>
                <div>
                    <span class="personal-details-section">Address:</span><span class="td">Skopje, (North) Macedonia</span>
                </div>
                <div>
                    <span class="personal-details-section">Email:</span><a href="mailto:aleksandar.trajkov@gmail.com" class="td">aleksandar.trajkov@gmail.com</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="personal-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</div>