<div class="float-right">
    <nav>
        <a href="https://www.facebook.com/ace.trajkov" target="_blank">Facebook</a>
        <a href="https://www.instagram.com/acence101" target="_blank">Instagram</a>
        <a href="https://www.linkedin.com/in/aleksandar-trajkov-27b6a862/" target="_blank">LinkedIn</a>
        <a href="https://github.com/acence" target="_blank">GitHub</a>
    </nav>
</div>