<div class="float-right social">
    <nav>
        @*<a href="https://www.facebook.com/ace.trajkov" target="_blank" title="Facebook">
            <span class="icon-facebook"></span>
        </a>
        <a href="https://www.instagram.com/acence101" target="_blank" title="Instagram">
            <span class="icon-instagram"></span>
        </a>*@
        <a href="https://www.linkedin.com/in/aleksandar-trajkov-27b6a862/" target="_blank" title="LinkedIn">
            <span class="icon-linkedin"></span>
        </a>
        <a href="https://github.com/acence" target="_blank" title="GitHub">
            <span class="icon-github"></span>
        </a>
        <a href="https://stackoverflow.com/users/750766/ace-trajkov" target="_blank" title="Stack Overflow">
            <span class="icon-stackoverflow"></span>
        </a>
    </nav>
</div>