@import '../Base/_variables.scss';
.contact {
    input, textarea, button {
        border-radius: 1px;
        outline: none;
        border: 2px solid $orange;
        color: #fff;
        background: #323232;

        &.form-control:focus {
            outline: none;
            border: 2px solid $orange;
            color: #fff;
            background: #323232;
            box-shadow: 0 0 0 0.2rem rgba($orange, 0.2)
        }
    }

    button {
        color: $orange;
        background: transparent;
        font-weight: bold;
    }
}