@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<canvas id="backgroundCanvas"></canvas>
<div class="main-wrapper">
    <main class="container-fluid">
        <section class="row info">
            <div class="col">
                @await Html.PartialAsync("Partials/_Profile")
            </div>
        </section>
        <section class="row info">
            <div class="col">
                @await Html.PartialAsync("Partials/_Experience")
            </div>
        </section>
        <section class="row info">
            <div class="col">
                @await Html.PartialAsync("Partials/_Skills")
            </div>
        </section>
        <section class="row info no-border">
            <div class="col">
                @await Html.PartialAsync("Partials/_Contact")
            </div>
        </section>
        <section class="row mt-3">
            <div class="col">
                @await Html.PartialAsync("Partials/_Social")
            </div>
        </section>
    </main>
</div>
@await Html.PartialAsync("Partials/_Notifications")
@section Scripts {
    <script src="~/js/site.js"></script>
}