@import 'Base/_variables.scss';
body {
    background: #000;
    color: #CCC;
    padding: 2rem 0;
    font-family: 'Lato', Arial, sans-serif;
}
.main-wrapper {
    max-width: 1200px;
    margin:0 auto;
    background:#000;
}
.info {
    background: #0b0b0b;
    padding: 1rem 2rem;
    border-bottom: 1px solid #323232;

    &.no-border {
        border-bottom:0;
    }
}
h1 {
    font-size: 2rem;
}
h2 {
    float: left;
    padding: 1rem 2rem 1rem 1rem;
    left: -5rem;
    top: calc(-1rem - 1px);
    position: relative;
    color: #fff;
    min-width:20rem;
    font-size:1.5rem;
    border-radius:1px;

    [class^="icon-"], [class*=" icon-"] {
        font-size:2.4rem;
        line-height:2rem;
        vertical-align:-7px;
        margin-right:1rem;
    }

    &.profile {
        background: $blue;
    }

    &.experience {
        background: $yellow;
    }

    &.skills {
        background: $green;
    }

    &.contact {
        background: $orange;
    }
}
h4 {
    font-size:1.3rem;
}
a {
    color: #4ca5d0;
    &:hover, &:active, &.visited {
        color:#45b6ed;
        text-decoration:none;
    }
}
.photo-frame {
    float: left;
    background: lighten(#141414, 10);
    padding:3px;

    img {
        width: 100%;
    }
}
#backgroundCanvas {
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.1;
}

@import "Base/_icons.scss";

@import "Sections/_profile.scss";
@import "Sections/_experience.scss";
@import "Sections/_skills.scss";
@import "Sections/_contact.scss";
@import "Sections/_social.scss";
@import "Sections/_notifications.scss";

@media screen and (max-width: 1280px) {
    h2 {
        left: -3rem;
    }
}